.logo{
   display: block;
   margin: 0 auto;
   margin-bottom: 50px;
   width: 60px;
   height: 60px;
   z-index: 10;

}

.App-wrap{
   display: flex;
   width:754px;
   margin: 0 auto;
}

@media(max-width: 768px){

   .App-wrap{
    width: 504px;
    flex-direction: column;
    margin: 0 auto;
   }

}